.wgs-button {
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(24, 174, 232), rgb(19, 198, 163));
  border: none;
  padding: 4px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .2s ease;
  cursor: pointer;

  span {
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 20px;
    background: white;
    border-radius: 4px;
    transition: all .2s ease;
    color: rgb(19, 198, 163);
  }
}

.wgs-button:hover, .wgs-button:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(-2px);

  span {
    color: white;
    background: linear-gradient(90deg, rgb(24, 174, 232), rgb(19, 198, 163));
  }
}

.wgs-button:disabled {
  background: #666;
  transform:translateY(0);
  box-shadow: none;

  span {
    color: #666;
    background: white;
  }
}