.wgs-dialogue {
  position: fixed;
  box-sizing: border-box;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background: white;

  overflow-x: hidden;
  overflow-y: scroll;

  .wgs-dialogue-content {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: white;

    display: flex;
    flex-direction: row;
  }
  
  .wgs-dialogue-header {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .wgs-dialogue-icon {
    box-sizing: border-box;

    position: absolute;
    width: 128px;
    height: 128px;

    bottom: 30.5px;
    left: 1rem;

    background: white;

    padding: 1rem;

    // border: 8px solid #e3e3e3;
    border-radius: 2rem;

    z-index: 1;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    img {
      height: 100%;
      display: block;
      margin: auto;
    }
  }

  .wgs-dialogue-main {
    box-sizing: border-box;

    position: relative;

    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
  }

  .wgs-dialogue-bio {
    font-size: 1.25rem;
    text-align: justify;
  }
}

.wgs-dialogue-titlebox {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));

  .wgs-dialogue-title {
    color: white;
    font-size: 4rem;
    margin: 0;
    padding: 1rem;
    padding-left: 10rem;
    font-weight: 700;
  }
}