.dm-scroll-parent {
  -webkit-overflow-scrolling: touch;
}

.dm-scroll-container {
  white-space: nowrap;
  width: 100vw;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  background-size: cover, cover;

  .wgs-dialogue {
    position: relative;
    display: inline-block;
    scroll-snap-align: center;
    white-space: normal;

    .wgs-dialogue-header {
      flex-shrink: 0;
      width: 50vw;
      @media (max-width: 820px) {
        width: 100%;
      }
    }
  }
}

@supports (scroll-snap-type: x mandatory) {
  .dm-scroll-container {
    overflow-x: auto;
  }
}