.wgs-header {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 4rem;
  background-size: cover, cover;
  h3 {
    font-size: 1.75rem;
    margin: 0;
    font-style: italic;
  }
  @media (max-width: 644px) {
    height: 386px;
  }
}

.wgs-header-title-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    margin: 0;
    @media (max-width: 644px) {
      font-size: 2.5rem;
    }
  }
  img {
    height: 6rem;
    margin-right: 1rem;
  }
  @media (max-width: 644px) {
    flex-direction: column;
  }
}