.wgs-header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(0 0, 0 calc(100% - 128px), 25% 100%, 100% calc(100% - 128px), 100% 0);
  background-size: cover, cover;
  h3 {
    font-size: 1.75rem;
    margin: 0;
    font-style: italic;
  }
}

.wgs-header-title-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  img {
    height: 6rem;
    margin-right: 1rem;
  }
}

.wgs-header-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(24, 174, 232, 0.75), rgba(19, 198, 163, 0.75));
  z-index: 1;
  a {
    padding: 1rem;
    cursor: pointer;
    color: white;
  }
}

@supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
  .wgs-header-links {
    background: linear-gradient(90deg, rgba(24, 174, 232, 0.5), rgba(19, 198, 163, 0.5));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}