.wgs-footer {
  position: relative;
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  color: #222;

  h3 {
    font-size: 1.5rem;
  }
  img {
    padding: 2rem;
    width: 196px;
    flex-shrink: 0;
  }
  .column {
    width: 100%;
  }
}