.wgs-ig-post {
  position: relative;
  height: 256px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-right: 1rem;
  border-radius: 1rem;
  &:hover, &.focus-visible {
    transform: translateY(-2px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    .wgs-ig-post-image {
      //transform: scale(1.25) rotate(10deg);
      filter: blur(4px);
    }
    .wgs-ig-post-info {
      p {
        height: unset;
        padding-bottom: 1rem;
      }
    }
  }
}

.wgs-ig-post-image {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  //transition: filter 0.2s, transform 0.2s;
  transition: filter 0.2s;
  cursor: pointer;
}

.wgs-ig-post-info {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  color: white;
  white-space: normal;
  padding-top: 2rem;
  pointer-events: none;
  h1 {
    margin: 0;
    padding: 1rem;
  }
  p {
    box-sizing: border-box;
    position: relative;
    height: 0;
    margin: 0;
    transition: height 0.4s, padding-bottom 0.4s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
  }
}