@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap';

@keyframes enter {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-entry {
  animation: enter 0.4s;
  animation-delay: var(--delay);
  animation-fill-mode: backwards;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #fafafa;
  overflow-x: hidden;
}
.wgs-main {
  padding: 1rem;
}
.wgs-section-title {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
}
.link {
  font-weight: 600;
  color: #128ABA;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: #0D6182;
}